
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodi-@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg pe-5 ps-5">
            <div class="container-fluid">
                <a class="navbar-brand fw-blod" asp-area="" asp-controller="Home" asp-action="Index">
                    <h1 class="logo"><i class="fa-solid fa-burger me-1" ></i>Foodi</h1>
                </a>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav justify-content-end flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" asp-area="" asp-controller="Products" asp-action="Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" asp-controller="Home" asp-action="Index" asp-fragment="Service">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" asp-controller="Home" asp-action="Index" asp-fragment="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" asp-area="" asp-controller="Carts" asp-action="Index">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                        <partial name="_LoginPartial"></partial>
                    </ul>
                    
                </div>

            </div>
        </nav>
    </header>
   
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="margin-top:50px;">
        <div class="container">
            &copy; 2024 - Foodi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* <footer class="footer text-muted p-5 mb-2" style=" bottom: 0;">
        <hr />
        <div class="container">
            &copy; 2024 - Foodi  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>







