<div class="row justify-content-center align-items-center" style="height: 60vh;">
    <div class="col-6">
        <div class="centered-div text-center">
            <i class="fa-solid fa-circle-check fa-5x mb-3" style="color:#63E6BE;"></i>
            <h2>Payment Successful</h2>
            <p>Your payment was successful. Thank you for your order!</p>
        </div>
    </div>
</div>


